<% layout('layouts/boilerplate') %>
    <div style="font-size: 2em; position: relative; left: 15px;">
        <span style="display: block; text-align: center;">All Campgrounds</span>
        <a href="/campgrounds/new" class="btn bg-dark text-light border-light">Add Campground</a>
    </div>
    
    <div class="mt-4 mb-5">
        <% for (let campground of campgrounds){%>
            <div class="card text-dark index-card" style="width: 18rem; display: inline-block; margin: 15px;">
                <div>
                    <% if (campground.images.length) { %>
                     <img src="<%= campground.images[0].url %> " class="card-img-top" height="180" width="300">
                    <% } else{ %>
                        <img src="https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <% } %> 
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %> </h5>
                        <p class="card-text"><%= campground.description %> </p>
                        <p class="text-uppercase" > <a href="/campgrounds/<%= campground.id %> ">Know More &#8594;</a></p>
                    </div>
                </div>
              </div>
        <% }%>
    </div>
    

