<% layout('layouts/boilerplate') %>
<div class="row bg-white text-dark rounded my-auto p-3">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3"></div>
    <form action="/campgrounds" method="POST" novalidate class="validate-this" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="campground[title]" required>
            <div class="valid-feedback fs-6">
                Nice Name!
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="campground[location]" required>
        <div class="valid-feedback fs-6">
            Looks good!
          </div></div>
        
        <input type="file" name="image" id="" multiple>
        
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" name="campground[price]" id="price" aria-label="Amount (to the nearest dollar)" required>
                <span class="input-group-text">.00</span>
              </div><div class="valid-feedback fs-6">
            Looks good!!
        </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="description">Tell me somethin about it</label>
            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback fs-6">
            Good to go!!
        </div></div>
        
        <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
        </div>
    </form>
    <a class="fs-5 text-dark text-decoration-none" style="text-shadow: 0 0 3px rgb(0, 0, 0); color: black;" href="/campgrounds">All Campgrounds</a>
</div>
    

